name: 'sample'

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate:
    name: Run our tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          make test
 
